{% extends "base.html" %}
{% block title %}Waste Management{% endblock %}
{% load static %}
{% block content %}
    <h1>Waste Management</h1>
    <p>Welcome to Waste Management. We are here to help you manage your waste in a sustainable way.</p>
    <p>Our services include:</p>
    <ul>
        <li>Waste collection</li>
        <li>Waste recycling</li>
        <li>Waste disposal</li>
    </ul>
    <p>Get in touch with us to learn more about our services.</p>
    <img src="{% static 'images/test.jpg' %}" alt="Waste Management">
{% endblock %}
